@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-charcoal: #141414;
  --color-dark-gray: #2b2b2b;
  --color-gray-muted: #444444;
  --color-light-gray: #b8b8b8;
  --color-plum: #795496;

  --font-display: "Griffy", cursive;
  --font-body: "Cormorant Garamond", serif;
}

@font-face {
  font-family: "Griffy";
  src: url("/fonts/Griffy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cormorant Garamond", serif;
}
